body{

background:url(./image4/fond.jpg);
background-size:cover;
 

}

legend{
color:white;
font-weight:bold;
font-family:monospace;
font-size:20px;



}
p{

color:white;
font-family:cursive;
font-size:15px;


}
label{
color:RGB(70, 211, 164);
font-family:cursive; 




}
button{

color:black;
border:none;
border-radius:15px;
padding:10 20px;
text-align:center;
margin:10px;
cursor:pointer;
transition:color 0.1 ease;
width:150px;
height:25px;
text-align:bottom;




}
button:hover{

color:RGB(70, 211, 164);




}
a{
text-decoration:none;
color:black;



}

a:hover{

color:RGB(70, 211, 164);


}

h1{

text-align:center;
color:white;
font-weight:bold;
font-family:monospace;
font-size:20px;





}


